.aboutMe {
    .heading {
        text-align: right;
    }
    .textContent {
        width: 60%;
        margin-right: 0;
        margin-left: auto;
    }
    .backgroundText {
        position: absolute;
        width: fit-content;
        right: 0;
    }
}
