.aboutMe {
    padding: 0;
    margin: 0;
    .flexParent {
        width: 100%;
        display: flex;
        margin: 0;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }

    img {
        flex: 1 5 35%;
        height: calc(60vh + 6rem);
        padding: 0;
        object-fit: cover;
    }

    .textContent {
        flex: 1 0 calc(65% - 6rem);
        // min-width: 65%;
        padding: 3rem;
        display: flex;
        margin-right: 0;
        flex-flow: column;
    }
    .heading {
        flex: 0 0 auto;
        margin: 0;
        text-align: right;
    }
    p {
        flex: 2 0 100%;
    }
    .backgroundText {
        position: absolute;
        width: fit-content;
        right: 0;
    }
    .linkContainer {
        margin: 1rem 0;
        align-self: flex-end;
    }
    .aboutLink {
        display: inline;
        background: $darkBlue;
        color: $white;
        padding: 0.75rem 0.5rem;
        border: solid 0.1rem $darkBlue;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.1rem;
    }
    .aboutLink:hover,
    .aboutLink:focus {
        background: $white;
        color: $lightBlue;
    }
    .aboutLink:active {
        background: lightgray;
    }
}
