.contact {
    z-index: -1;
    background: #272727c9;
    h2,
    h3 {
        color: $white;
        text-transform: uppercase;
    }
    h2 {
        text-shadow: 0.25rem 0.25rem $blue;
    }
    h3 {
        font-family: $accentFont;
        font-size: 1.75rem;
        text-shadow: 0.2rem 0.2rem $grey;
    }
}
.contactFlex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    .heading {
        padding: 2rem;
        flex: 1 2 calc(50% - 4rem);
        p,
        a {
            color: $white;
            font-size: 1.25rem;
        }
        a:hover,
        a:focus {
            color: $lightBlue;
        }
        a:active {
            color: $darkBlue;
        }
    }
}
.contactForm {
    padding: 1rem;
    flex: 1 1 calc(50% - 2rem);
    display: flex;
    flex-flow: column wrap;
    input {
        margin: 0.5rem 0;
    }
    .contactMessage {
        height: 8rem;
        resize: none;
    }
}

.socials {
    li {
        padding: 0 2rem;
        i {
            color: $white;
            font-size: 2rem;
        }
    }
    li:hover i,
    li:focus-within i {
        color: $lightBlue;
        animation: pulse 0.8s ease;
    }
}

button[type="submit"] {
    background: $darkBlue;
    border: solid 0.2rem $darkBlue;
    color: $white;
    text-transform: uppercase;
    font-family: $accentFont;
    padding: 1rem;
}
button[type="submit"]:hover,
button[type="submit"]:focus {
    background: $white;
    color: $darkBlue;
}
button[type="submit"]:active {
    background: lightgray;
}

.calendly {
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 1rem;
}
