header {
    color: $white;
    min-height: 100vh;
    background: linear-gradient(180deg, $grey 50%, $blue 50%, $blue 100%);
    nav {
        @include fadeInDelay("0.8s");
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.headerNavigation {
    .navHead {
        position: relative;
    }
    .navHead > a {
        text-transform: uppercase;
        font-weight: 600;
    }
    .subNav {
        position: absolute;
        right: 0;
        visibility: hidden;
        display: block;
        text-align: right;
        li {
            padding: 0.5rem 0;
        }
        a {
            position: relative;
            transition: all 0.5s ease;
        }
        a::after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 0.05rem;
            left: 0;
            position: absolute;
            background: #fff;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        a:hover::after {
            width: 100%;
        }
    }
    .navHead:hover .subNav,
    .navHead:focus-within .subNav {
        visibility: visible;
    }
}

.headerMainContent {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.centreFlex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 13rem;
    @include fadeInDelay("0s");
}
.profileImg {
    min-width: 15rem;
    max-height: 15rem;
    object-fit: cover;
    border: solid $blue 1rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.siteTitle {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    text-align: right;
    span {
        display: block;
    }
}

.startScroll {
    margin-top: 5rem;
    text-align: center;
    h3 {
        font-family: $accentFont;
    }
    .fa-chevron-down {
        font-size: 2rem;
        transform: scale(1);
        animation: pulse infinite 0.8s ease-in-out;
    }
    @include fadeInDelay("1.6s");
}
