.portfolio {
    .backgroundText {
        h4 {
            z-index: -1;
            margin: 0;
        }
        margin-top: -8rem;
    }
}

.projectList {
    flex-flow: row wrap;
    li {
        flex: 1 1 calc(50% - 2rem);
        margin: 1rem;
    }
    .project {
        background: $grey;
        color: $white;
        box-shadow: 1rem 1rem $blue;
    }
    .projectContainer {
        .projectText {
            display: flex;
            flex-flow: column wrap;
            padding: 1.5rem;
        }
        .screenShot {
            justify-self: flex-start;
            max-height: 25rem;
            object-fit: cover;
        }
        height: 100%;
        .link {
            display: inline-block;
            background: $white;
            color: $blue;
            text-shadow: 0.1rem 0.1rem lightgrey;
            font-weight: 600;
            margin: 0 0.5rem;
            padding: 1rem;
            border: solid $white 0.1rem;
            border-radius: 0.25rem;
            text-transform: uppercase;
        }
        .link:hover,
        .link:focus {
            background: $lightBlue;
            transform: scale(1.2);
            color: $white;
            text-shadow: none;
        }
        .link:active {
            background: $darkBlue;
        }
    }
    .languages {
        display: flex;
        flex-flow: row wrap;
        justify-self: flex-end;
        li {
            // background: $blue;
            padding: 0 1rem;
            // max-width: fit-content;
        }
        p {
            // font-family: $accentFont;
            text-shadow: 0.25rem 0.25rem $darkBlue;
            text-align: center;
            font-size: 1.75rem;
            font-weight: 900;
        }
    }
}
