.techStack {
    padding: 5rem 0;
    background: $blue;
    z-index: -1;
    border-left: 17vw solid $grey;
    .skills {
        h2 {
            margin-top: 0;
            color: $white;
            z-index: 5;
        }
        .backgroundText {
            z-index: 0;
        }
    }
    .skillList {
        padding: 3rem 0;
        text-align: center;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-end;
    }
    li {
        z-index: 10;
        margin: auto;
        flex: 1 1 calc(25% - 1.5rem);
        padding: 1.5rem;
    }
    i {
        font-size: 2.5rem;
        color: $white;
    }
    p {
        color: $white;
        font-family: $accentFont;
        font-weight: 600;
    }
    li:hover i,
    li:hover p {
        animation: pulse 0.8s ease;
        text-shadow: 0.2rem 0.2rem $grey;
    }
}
