@media (max-width: 720px) {
    html {
        font-size: 90%;
    }
    .centreFlex {
        flex-flow: column;
        margin-top: 1rem;
    }
}

@media (max-width: 350px) {
    html {
        font-size: 80%;
    }

    .centreFlex {
        margin-top: 4rem;
    }

    .aboutMe {
        .linkContainer {
            align-self: flex-start;
        }
        .aboutLink {
            display: block;
            margin: 0.5rem;
        }
    }

    .toTop {
        visibility: hidden;
    }
}
