@import "./partials/vars";
@import "./partials/setup";
@import "./partials/animations";
@import "./partials/typography";

@import "./sections/header";
@import "./sections/about";
@import "./sections/skills";
@import "./sections/projects";
@import "./sections/contact";
@import "./sections/footer";

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.copyright {
    a {
        display: block;
        &.themeCredit {
            text-transform: uppercase;
        }
    }
}

section {
    padding: 5rem 0;
    min-height: 60vh;
}

section:nth-child(odd) {
    background-color: #ffffff00;
    background-image: radial-gradient(#6b6b6b67 0.5px, #ffffff67 0.5px);
    background-size: 10px 10px;
}

.toTop {
    position: fixed;
    z-index: 20;
    opacity: 0;
    right: 2rem;
    bottom: 5rem;
    padding: 0.75rem;
    background: $lightBlue;
    text-transform: uppercase;
    font-weight: 900;
    &:hover {
        background: $darkBlue;
    }
    &:active {
        background: $blue;
    }
    @include atMobile {
        visibility:hidden;
    }
}
