@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body {
  font-size: 125%;
  max-width: 100%;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1350px;
  width: 85%;
  margin: 0 auto;
}

.heading {
  position: relative;
}
.heading .backgroundText {
  position: absolute;
  top: -2rem;
  z-index: -1;
}
.heading .backgroundText h4 {
  margin: 0;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes fadeDelay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeDelay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}
h1,
h2,
h3 {
  font-family: "Raleway", serif;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

p,
label,
input {
  font-family: "Open Sans", sans-serif;
}

a,
h4 {
  font-family: "Oswald", sans-serif;
}

p {
  letter-spacing: 0.1rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-size: 0.95rem;
}

.nameLogo a {
  font-size: 1.5rem;
}

header a {
  color: #ffffff;
}

.siteTitle h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
  padding: 0;
}
.siteTitle p {
  margin-top: 0.5rem;
  letter-spacing: 0.5rem;
  font-family: "Oswald", sans-serif;
}

.questionNav h2 {
  font-weight: 300;
  font-style: italic;
}
.questionNav a {
  font-size: 1.5rem;
}

section h2 {
  color: #1428a0;
  text-transform: uppercase;
  font-weight: 800;
}

.backgroundText {
  text-transform: uppercase;
  font-size: 7rem;
  opacity: 0.1;
  padding: 0;
}

header {
  color: #ffffff;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #272727), color-stop(50%, #1428a0), to(#1428a0));
  background: linear-gradient(180deg, #272727 50%, #1428a0 50%, #1428a0 100%);
}
header nav {
  -webkit-animation: fadeDelay 0.8s, fade 0.8s 0.8s;
          animation: fadeDelay 0.8s, fade 0.8s 0.8s;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.headerNavigation .navHead {
  position: relative;
}
.headerNavigation .navHead > a {
  text-transform: uppercase;
  font-weight: 600;
}
.headerNavigation .subNav {
  position: absolute;
  right: 0;
  visibility: hidden;
  display: block;
  text-align: right;
}
.headerNavigation .subNav li {
  padding: 0.5rem 0;
}
.headerNavigation .subNav a {
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.headerNavigation .subNav a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0.05rem;
  left: 0;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.headerNavigation .subNav a:hover::after {
  width: 100%;
}
.headerNavigation .navHead:hover .subNav,
.headerNavigation .navHead:focus-within .subNav {
  visibility: visible;
}

.headerMainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centreFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 13rem;
  -webkit-animation: fadeDelay 0s, fade 0.8s 0s;
          animation: fadeDelay 0s, fade 0.8s 0s;
}

.profileImg {
  min-width: 15rem;
  max-height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid #1428a0 1rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.siteTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}
.siteTitle span {
  display: block;
}

.startScroll {
  margin-top: 5rem;
  text-align: center;
  -webkit-animation: fadeDelay 1.6s, fade 0.8s 1.6s;
          animation: fadeDelay 1.6s, fade 0.8s 1.6s;
}
.startScroll h3 {
  font-family: "Oswald", sans-serif;
}
.startScroll .fa-chevron-down {
  font-size: 2rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse infinite 0.8s ease-in-out;
          animation: pulse infinite 0.8s ease-in-out;
}

.aboutMe {
  padding: 0;
  margin: 0;
}
.aboutMe .flexParent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aboutMe img {
  -webkit-box-flex: 1;
      -ms-flex: 1 5 35%;
          flex: 1 5 35%;
  height: calc(60vh + 6rem);
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutMe .textContent {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(65% - 6rem);
          flex: 1 0 calc(65% - 6rem);
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
.aboutMe .heading {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0;
  text-align: right;
}
.aboutMe p {
  -webkit-box-flex: 2;
      -ms-flex: 2 0 100%;
          flex: 2 0 100%;
}
.aboutMe .backgroundText {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  right: 0;
}
.aboutMe .linkContainer {
  margin: 1rem 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.aboutMe .aboutLink {
  display: inline;
  background: #001280;
  color: #ffffff;
  padding: 0.75rem 0.5rem;
  border: solid 0.1rem #001280;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.aboutMe .aboutLink:hover,
.aboutMe .aboutLink:focus {
  background: #ffffff;
  color: #4c60cf;
}
.aboutMe .aboutLink:active {
  background: lightgray;
}

.techStack {
  padding: 5rem 0;
  background: #1428a0;
  z-index: -1;
  border-left: 17vw solid #272727;
}
.techStack .skills h2 {
  margin-top: 0;
  color: #ffffff;
  z-index: 5;
}
.techStack .skills .backgroundText {
  z-index: 0;
}
.techStack .skillList {
  padding: 3rem 0;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.techStack li {
  z-index: 10;
  margin: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(25% - 1.5rem);
          flex: 1 1 calc(25% - 1.5rem);
  padding: 1.5rem;
}
.techStack i {
  font-size: 2.5rem;
  color: #ffffff;
}
.techStack p {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
.techStack li:hover i,
.techStack li:hover p {
  -webkit-animation: pulse 0.8s ease;
          animation: pulse 0.8s ease;
  text-shadow: 0.2rem 0.2rem #272727;
}

.portfolio .backgroundText {
  margin-top: -8rem;
}
.portfolio .backgroundText h4 {
  z-index: -1;
  margin: 0;
}

.projectList {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.projectList li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 2rem);
          flex: 1 1 calc(50% - 2rem);
  margin: 1rem;
}
.projectList .project {
  background: #272727;
  color: #ffffff;
  -webkit-box-shadow: 1rem 1rem #1428a0;
          box-shadow: 1rem 1rem #1428a0;
}
.projectList .projectContainer {
  height: 100%;
}
.projectList .projectContainer .projectText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 1.5rem;
}
.projectList .projectContainer .screenShot {
  justify-self: flex-start;
  max-height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.projectList .projectContainer .link {
  display: inline-block;
  background: #ffffff;
  color: #1428a0;
  text-shadow: 0.1rem 0.1rem lightgrey;
  font-weight: 600;
  margin: 0.5rem 0.5rem;
  padding: 1rem;
  border: solid #ffffff 0.1rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
}
.projectList .projectContainer .link:hover,
.projectList .projectContainer .link:focus {
  background: #4c60cf;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #ffffff;
  text-shadow: none;
}
.projectList .projectContainer .link:active {
  background: #001280;
}
.projectList .languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  justify-self: flex-end;
}
.projectList .languages li {
  padding: 0 1rem;
}
.projectList .languages p {
  text-shadow: 0.25rem 0.25rem #001280;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 900;
}

.contact {
  z-index: -1;
  background: #272727c9;
}
.contact h2,
.contact h3 {
  color: #ffffff;
  text-transform: uppercase;
}
.contact h2 {
  text-shadow: 0.25rem 0.25rem #1428a0;
}
.contact h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.75rem;
  text-shadow: 0.2rem 0.2rem #272727;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactFlex .heading {
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 calc(50% - 4rem);
          flex: 1 2 calc(50% - 4rem);
}
.contactFlex .heading p,
.contactFlex .heading a {
  color: #ffffff;
  font-size: 1.25rem;
}
.contactFlex .heading a:hover,
.contactFlex .heading a:focus {
  color: #4c60cf;
}
.contactFlex .heading a:active {
  color: #001280;
}

.contactForm {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 2rem);
          flex: 1 1 calc(50% - 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.contactForm input {
  margin: 0.5rem 0;
}
.contactForm .contactMessage {
  height: 8rem;
  resize: none;
}

.socials li {
  padding: 0 2rem;
}
.socials li i {
  color: #ffffff;
  font-size: 2rem;
}
.socials li:hover i,
.socials li:focus-within i {
  color: #4c60cf;
  -webkit-animation: pulse 0.8s ease;
          animation: pulse 0.8s ease;
}

button[type=submit] {
  background: #001280;
  border: solid 0.2rem #001280;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  padding: 1rem;
}

button[type=submit]:hover,
button[type=submit]:focus {
  background: #ffffff;
  color: #001280;
}

button[type=submit]:active {
  background: lightgray;
}

.calendly {
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 1rem;
}

.copyright {
  background: #1428a0;
  text-align: center;
  padding: 0.5rem;
}
.copyright a {
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.copyright a {
  display: block;
}
.copyright a.themeCredit {
  text-transform: uppercase;
}

section {
  padding: 5rem 0;
  min-height: 60vh;
}

section:nth-child(odd) {
  background-color: #ffffff00;
  background-image: radial-gradient(#6b6b6b67 0.5px, #ffffff67 0.5px);
  background-size: 10px 10px;
}

.toTop {
  position: fixed;
  z-index: 20;
  right: 2rem;
  bottom: 5rem;
  padding: 0.75rem;
  background: #4c60cf;
  text-transform: uppercase;
  font-weight: 900;
}
.toTop:hover {
  background: #001280;
}
.toTop:active {
  background: #1428a0;
}

@media (max-width: 720px) {
  html {
    font-size: 90%;
  }

  .centreFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 1rem;
  }
}
@media (max-width: 350px) {
  html {
    font-size: 80%;
  }

  .centreFlex {
    margin-top: 4rem;
  }

  .aboutMe .linkContainer {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .aboutMe .aboutLink {
    display: block;
    margin: 0.5rem;
  }

  .toTop {
    visibility: hidden;
  }
}